<mat-tab-group (selectedTabChange)="selectChangeHandler($event)">
  <mat-tab label="Best selling "><app-body></app-body></mat-tab>
  <mat-tab label="Paper "> <app-body *ngIf="paperActive"></app-body></mat-tab>
  <mat-tab label="Wooden "><app-body *ngIf="woodenActive"></app-body> </mat-tab>
  <mat-tab label="Glass "><app-body *ngIf="glassActive"></app-body> </mat-tab>
  <mat-tab label="Cloth "><app-body *ngIf="clothActive"></app-body> </mat-tab>
  <mat-tab label="Iron "> <app-body *ngIf="ironActive"></app-body></mat-tab>
</mat-tab-group>
